<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style_dashboard.css">
</head>
<body>
    <div class="dashboard-container">
        <h2>Welcome to Your Dashboard</h2>

        {% if username %}
            <div class="info"><strong>Username:</strong> {{ username }}</div>
        {% endif %}

        {% if password %}
            <div class="info"><strong>Password:</strong> {{ password }}</div>
        {% endif %}

        <div><a href="/change">Change Password?</a></div>
        
    </div>
</body>
</html>
