<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Password Manager</title>
    <link rel="stylesheet" href="/static/style_login.css">
</head>
<body>

<div class="login-container">
    <h2>Login</h2>

    {% if message %}
        <div class="message">{{ message }}</div>
    {% endif %}

    <form method="POST" action="/login">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Log In</button>
    </form>
    <div class="Forgot-Password">
        <a href="">Forgot Password?</a>
    </div>
    <div class="register-link">
        Don't have an account? <a href="/register">Register</a>
    </div>
</div>

</body>
</html>
